

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    font-family: Helvetica, Arial;
}
.Article[role=main]{
    width: 100%;
}
.col-lg-12{
    width: 60%;
}

.font-center{
    text-align:center
}

.padding-left{
    height: 750px;
    width: 900px !important;
    justify-content: center;
}

.col-md-16{
    margin: 0 auto;
    width: 800px;
}
.container{
    margin-top: 20px;
    width: 300px;
    height: 300px;
}

.card-container{
    width: 300px;
    height: 300px;
    position: relative;
    perspective:1000px;
}

.cover, .back{
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    transition: transform 1s;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10rem;
    border-radius: .4rem;
    box-shadow: 0 .2rem .5rem rgba(0,0,0,.18);
    transform-style: preserve-3d;
}

.cover{
    background-color: blue;
    transform: rotatey(0deg);
}

.card-container:hover .cover{
    transform: rotatey(180deg);
}

.back{
    background-color: #b13f4c;
    transform: rotatey(-180deg) translateZ(0);
}

.card-container:hover .back{
    transform: rotatey(0deg);
}

.card-size{
    width: 300px;
    height: 300px;
    
}

.title{
    margin-left: 200px;
}

.font-red-color{
    color: #ffffff;
}

.banner{
    width: 1000px;
    height: 300px;
}

.banner-size{
    width: 745px;
    height: 350px;
}